body {
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    left: 0;
    bottom: 0;
}

.box1, .box2, .box3 {
    width: 200px;
    height: 100px;
    position: absolute;
}

.main {
    position: relative;
    height: 200px;
    width: 500px;
}

.box1 {
    background-color: blue;
    transform: translate(400px, -125px)

}

.box2 {
    background-color: beige;
    transform: translate(600px, -125px)
}

.box3 {
    background-color: red;
    transform: translate(800px, -125px);
}