body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: cadetblue;
    transition-property: color;
    transition-duration: 3s 
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:white;
}

nav:hover {
    background-color: goldenrod; 
}

img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: gold;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-duration: 1s;
    animation-name: bouncieball;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bouncieball {
    from {
       transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 200px, 0);
    }
}